<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_just4gamers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.Project_Just4Gamers">
        <activity android:name=".userInterface.activities.PodiumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".userInterface.activities.FavoritesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".userInterface.activities.UpdateProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".userInterface.activities.ProductOwnerProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".userInterface.activities.AddReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".userInterface.activities.MessageViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".userInterface.activities.AddMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".userInterface.activities.InboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".userInterface.activities.ActivateCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.DiscountCouponsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.SoldProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.AddAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.AddressListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.CartListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.AddProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".userInterface.activities.DashboardActivity" />
        <activity
            android:name=".userInterface.activities.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userInterface.activities.LoginActivity"
            android:screenOrientation="portrait"
             android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".userInterface.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userInterface.activities.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_your_key"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

    </application>

</manifest>