<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_just4gamers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Just4Gamers">
        <activity android:name=".ui.activities.PodiumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".ui.activities.FavoritesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".ui.activities.UpdateProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".ui.activities.ProductOwnerProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".ui.activities.AddReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".ui.activities.MessageViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".ui.activities.AddMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".ui.activities.InboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Project_Just4Gamers.NoActionBar" />
        <activity
            android:name=".ui.activities.ActivateCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.DiscountCouponsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.SoldProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.AddAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.AddressListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.CartListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.AddProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.activities.DashboardActivity" />
        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>